---
import { getCollection } from 'astro:content';
import style from "./style.module.scss";
import Layout from '@layouts/Layout.astro';
import type {IPost} from "../../types";

const posts: Array<{data: IPost}> = await getCollection('blog');
---

<Layout>
    <article class={style.blogpage}>
        <section>
            <h1 class="text-preset-2">
                My Articles
                <span />
            </h1>

            <p class="text-preset-7">
                Below are all my recent blog posts. Click on any title to read the full article.
            </p>
        </section>

        <section>
            <ul>
                {posts.map(({data}, index) => {
                    if(index >= 5) return;

                    const parsedPublishedData = new Date(Date.parse(data.publishedAt))
                    const formattedPublishData = new Intl.DateTimeFormat("en-US", {
                        month: "long",
                        day: "numeric",
                        year: "numeric",
                    }).format(parsedPublishedData);

                    return (
                        <li>
                            <a href={`/posts/${data.slug}`}>
                                <h2 class="text-preset-5">
                                    {data.title}
                                </h2>
                            </a>
                            <p class="text-preset-8-italic">
                                {formattedPublishData}
                            </p>
                            <p class="text-preset-7">
                                {data.description}
                            </p>
                        </li>
                    )
                })}
            </ul>
        </section>
    </article>
</Layout>